* {
    margin: 0;
    padding: 0;
}


.logo {
    display: inline-block;
    width: 200px;
    height: 130px;
    background: url("../uploadImage/logo.png") center/cover;
    text-indent: -9999px;
}

a{
	text-decoration: none;
	font-weight:bold;
}

tr{
	height: 40px;
}

.page{
	background-color: lavender;
	border: 0px;
	border-radius: 4px; 
}

th, td{
	text-align: center;
	border: 1px solid lavender;
	border-radius: 4px; 
}